@using CarRentalMVC.ViewModel.User
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
ViewData["Title"] = "Register";
  // Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Login_RegisterVM



            <form class="form-signin" method="post" name="form">

                <label asp-for="LoginVM.email" class="form-styling">Email</label>
                <input asp-for="LoginVM.email" class="form-styling" type="text" placeholder="" />
                <label asp-for="LoginVM.password" class="form-styling">Password</label>
                <input asp-for="LoginVM.password" class="form-styling" type="text" placeholder="" />
                <input type="checkbox" id="checkbox" />
                <label for="checkbox"><span class="ui">
                </span>Keep me signed in</label>
                <button type="submit">Send</button>
            </form>

            <form class="form-signup" action="" method="post" name="form"> 
                <label asp-for="RegisterVM.name">name</label> 
                <input class="form-styling" asp-for="RegisterVM.name" class="form-styling" type="text" placeholder="" />

                <label asp-for="RegisterVM.surname">surname</label>
                <input asp-for="RegisterVM.surname" class="form-styling" type="text"placeholder="" />

                <label asp-for="RegisterVM.email">Email</label>
                <input asp-for="RegisterVM.email" class="form-styling" type="text" placeholder="" />

                <label asp-for="RegisterVM.password">Phone</label>
                <input asp-for="RegisterVM.password" class="form-styling" type="text" placeholder="" />

                <label asp-for="RegisterVM.city">City</label>
                <input asp-for="RegisterVM.city" class="form-styling" type="text" placeholder="" />

                <label asp-for="RegisterVM.address">Address</label>
                <input asp-for="RegisterVM.address" class="form-styling" type="text" placeholder="" />
                
                <label asp-for="RegisterVM.drivingLicense">Enter DL Number</label>
                <input asp-for="RegisterVM.drivingLicense" class="form-styling" type="text"placeholder="" />
                <label asp-for="RegisterVM.password">Create password</label>
                <input asp-for="RegisterVM.password" class="form-styling" type="text" placeholder="" />


                <a class="btn-signup">REGISTER</a>
            </form>